# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

#--------------------------------------------------------------------
# CORS (configure allowed origins for API access)
#--------------------------------------------------------------------
# CORS_ORIGIN=http://localhost:5173,http://localhost:3000
GOOGLE_CLIENT_ID=dummy_id
GOOGLE_CLIENT_SECRET=dummy_secret
GOOGLE_CALLBACK_URL=http://localhost:3333/auth/google/callback
DB_CONNECTION=mysql
DB_HOST=serverless-eu-west-3.sysp0000.db1.skysql.com
DB_PORT=4009
DB_USER=dbpwf15120887
DB_PASSWORD=bvJm5f6391^D5Sp~hgFLU@40
DB_SSL=true
DB_DATABASE=usat
DRIVE_DISK=s3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
S3_ENDPOINT=
MAIL_MAILER=smtp
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=a062c463234ab0
SMTP_PASSWORD=dc794d1783f8e3
MAIL_FROM_NAME=Your name
MAIL_FROM_ADDRESS=app@yourdomain.com